{% extends "main/base_auth.html" %}
{% load static %}
{% block title %}Add Bank Card{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/add_card.css' %}">

{% endblock  %}
{% block content %}
<div class="add-card-container">
    <h2>Add New Bank Card</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.help_text }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Add Card</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
