{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Authenticated User{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style_auth.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'main-page' %}" class="navbar-brand">BankApp</a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href={% url "profile-page" %}>Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "bank-cards-page" %}>Your Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "support-page" %}>Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout-page' %}">Logout</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
